.emojis-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  min-width: 100%;
}
.app-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  min-height: 100vh;
}
